# Ignore node_modules directory
node_modules/

# Ignore package lock
package-lock.json

# Ignore webpack
webpack.config.js

# Ignore dist
dist/

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore environment variable files (e.g., .env)
*.env

# Ignore IDE/editor directories (e.g., VSCode, PyCharm)
.vscode/
.idea/

# Ignore system files (macOS and Windows)
.DS_Store
Thumbs.db

# Ignore test result files
nosetests.xml
coverage.xml
*.cover
*.log
